.left-panel {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 368px;
    flex-shrink: 0;
}

.middle{
    flex: 1;
    min-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-panel{
    width: 368px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
